@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body{
  background-color: white;
}
.logo{
  font-family: "Dancing Script", cursive;
}
/* Eclipse */
.circle{
    position: absolute;
    width: 100%;
    height: 100%;
    top: -50px;
    left: 0;
    background-color: #EE5B2B;
    clip-path: circle(600px at 950px 0px);
    z-index: -1;
}
/* navbar */
.navbar{
    box-shadow: 0px 0px 15px 0px gray;
    height: 80px;
}
.navbar a{
    color: black;
    /* text-transform: uppercase; */
}
.contact{
  color: white;
}
span{
    color: #EE5B2B;
}
/* hero section */
.hero_section{
    margin-top: 100px;
}
.button{
  margin-top: 100px;
}
.button button{
  margin: 5px;
}
.btn{
    color: black;
    border: 2px solid #EE5B2B;
    text-transform: uppercase;
    border-radius: 15px;
}
.btn:hover{
  background-color: #EE5B2B;
  color: white;
  transition: 1.5s;
}
/* About section */
.about_section{
    background-color: rgb(233, 224, 224);
}
.progress-bar-wrap {
    background: #fbeaf1;
    margin: 20px;
  }
  .first{
   margin-left: 420px;
  }
  .second{
    margin-left: 440px;
  }
  .third{
    margin-left: 380px;
  }
  .fourth{
    margin-left: 420px;
  }
  .fifth{
    margin-left: 400px;
  }
.progress-bar1 {
    height: 10px;
    transition: 0.9s;
    background-color: #EE5B2B;
  }
  .progress-bar2{
    height: 10px;
    transition: 0.9s;
    background-color: #EE5B2B;
  }
  .progress-bar3{
    height: 10px;
    transition: 0.9s;
    background-color: #EE5B2B;
  }
  .progress-bar4{
    height: 10px;
    transition: 0.9s;
    background-color: #EE5B2B;
  }
  .list::marker{
    color: #EE5B2B;
    font-size: 40px;
  }
  li::marker{
    color: #EE5B2B;
    font-size: 20px;
  }
  .hobby{
    margin-top: 20px;
  }
  b{
    margin-left: 50px;
    background-color: #e98f71;
    padding: 5px;
    margin-bottom: 5px;
  }
  h5{
    margin-left: 50px;
    margin-top: 5px;
  }
  .info{
    margin-left: 50px;
  }
  /* services */
  .services_section{
     background-color: white;
  }
  .card{
    box-shadow: 4px 7px 8px gray;
    border-radius: 10px;
    height: 370px;
    text-align: center;
  }
  .serve{
    background-color: rgb(233, 224, 224);
  }
  /* projects section */
  .projects_section{
    background-color: rgb(233, 224, 224);
  }
  /* footer */
  footer{
  background-color: #EE5B2B;
  height: 10vh;
  }

  /* media querry */
  @media (max-width: 768px) {
      .card{
     margin-left: 100px;
     margin-bottom: 15px;
     }
    .navbar-nav{
      background-color: #EE5B2B;
      color: white;
    }
    .navbar-toggler{
      background-color: black;
  }
  .navbar-toggler-icon{
    color: white;
  }
  }