
/* Eclipse */
.circle{
    position: absolute;
    width: 100%;
    height: 100%;
    top: -50px;
    left: 0;
    background-color: #EE5B2B;
    clip-path: circle(600px at 950px 0px);
    z-index: -1;
}
/* navbar */
.navbar{
    box-shadow: 0px 0px 15px 0px gray;
    height: 80px;
}
.navbar a{
    color: black;
}
.contact{
  color: white;
}
span{
    color: #EE5B2B;
}
/* hero section */
.hero_section{
    margin-top: 100px;
    height: 100vh;
}
.button{
  margin-top: 100px;
}
.button button{
  margin: 5px;
}
.btn{
    /* background-color: #EE5B2B; */
    color: black;
    border: 2px solid #EE5B2B;
    text-transform: uppercase;
    /* margin-top: 100px; */
    border-radius: 15px;
}
.btn:hover{
  background-color: #EE5B2B;
  color: white;
  transition: 1s;
}
/* About section */
.about_section{
    height: 150vh;
}
.progress-bar-wrap {
    background: #fbeaf1;
    margin: 20px;
  }
  i{
   margin-left: 280px;
  }
.progress-bar1 {
    /* width: 95%; */
    height: 10px;
    transition: 0.9s;
    background-color: #EE5B2B;
  }
  .progress-bar2{
    /* width: 80%; */
    height: 10px;
    transition: 0.9s;
    background-color: #EE5B2B;
  }
  .progress-bar3{
    /* width: 70%; */
    height: 10px;
    transition: 0.9s;
    background-color: #EE5B2B;
  }
  .progress-bar4{
    /* width: 80%; */
    height: 10px;
    transition: 0.9s;
    background-color: #EE5B2B;
  }
  .list::marker{
    color: #EE5B2B;
    font-size: 40px;
  }
  li::marker{
    color: #EE5B2B;
    font-size: 20px;
  }
  b{
    margin-left: 50px;
    background-color: #e98f71;
    padding: 5px;
    margin-bottom: 5px;
  }
  h5{
    margin-left: 50px;
    margin-top: 5px;
  }
  .info{
    margin-left: 50px;
  }