/* navbar */
.navbar{
    background-color: white;
    box-shadow: 0px 0px 8px 0px gray;
    height: 80px;
}
.navbar a{
    color: black;
}
/* hero section */
.hero_section{
    background-color: #97B8BA;
    margin-top: 30px;
}